name: Windows Self-Hosted Runner

on:
  workflow_call:
    inputs:
      GAME_ID:
        required: true
        type: string
    secrets:
      TOKEN:
        required: true
      AWS_ENV:
        required: true
      CLOUD_FRONT:
        required: true
      CLOUD_FLARE:
        required: true
      CDNETWORKS:
        required: true
      AKAMAI:
        required: true
      WEBHOOK_URL:
        required: true
env:
  GAME_ID: ${{ inputs.GAME_ID }}
  # Cocos Creator Version
  COCOS_VERSION: 'C:\ProgramData\cocos\editors\Creator\3.7.2\CocosCreator.exe'
  DEPLOY_STR: creator
  SLACK: true
  #DEPLOY_STR: 2dx

  # repositories
  GITHUB_DEPLOY: ${{ secrets.TOKEN }}
  AWS_ENV: ${{ secrets.AWS_ENV }}
  # purge CDN cache
  CLOUD_FRONT_API: ${{ secrets.CLOUD_FRONT }}
  CLOUD_FLARE_API: ${{ secrets.CLOUD_FLARE }}
  CDNETWORKS_API: ${{ secrets.CDNETWORKS }}
  AKAMAI_API: ${{ secrets.AKAMAI }}

jobs:
  creator:
    runs-on: [self-hosted, Windows, X64]
    steps:
      - name: Setup branch env
        uses: 5G-Games/Games-Common-CI/.github/actions/setup-branch-env@master
        with:
          github_ref_name: ${{ github.ref_name }}
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "22"
      
      - name: Cleanup workspace
        uses: 5G-Games/Games-Common-CI/.github/actions/cleanup-workspace@master
      
      - name: Configure Git
        uses: 5G-Games/Games-Common-CI/.github/actions/configure-git@master
        with:
          github_deploy: ${{ secrets.TOKEN }}
      
      - name: Clone deploy script
        uses: 5G-Games/Games-Common-CI/.github/actions/clone-deploy-script@master
        with:
          github_deploy: ${{ secrets.TOKEN }}
      
      - name: Clone game repositories
        uses: 5G-Games/Games-Common-CI/.github/actions/clone-game-repositories@master
        with:
          github_deploy: ${{ secrets.TOKEN }}
          game_id: ${{ inputs.GAME_ID }}
          branch: ${{ env.BRANCH }}
      
      - name: Slack Notification - Start
        if: ${{ env.SLACK == 'true' }}
        uses: 5G-Games/Games-Common-CI/.github/actions/slack-notification@master
        with:
          webhook_url: ${{ secrets.WEBHOOK_URL }}
          job_status: success
          repository: ${{ github.repository }}
          branch: ${{ github.head_ref || github.ref }}
          actor: ${{ github.actor }}
          triggering_actor: ${{ github.triggering_actor || 'N/A' }}
          commit_message: ${{ github.event.head_commit.message || 'N/A' }}
          commit_count: ${{ env.COMMIT_COUNT || 'N/A' }}
          run_url: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          compare_url: ${{ github.event.compare || 'N/A' }}
          status_text: 'Start'

      - name: Create deploy path
        uses: 5G-Games/Games-Common-CI/.github/actions/create-deploy-path@master
        with:
          game_id: ${{ inputs.GAME_ID }}
      
      - name: npm install
        uses: 5G-Games/Games-Common-CI/.github/actions/npm-install@master
        with:
          game_id: ${{ inputs.GAME_ID }}
      
      - name: Clone submodules
        uses: 5G-Games/Games-Common-CI/.github/actions/clone-submodules@master
        with:
          game_id: ${{ inputs.GAME_ID }}
      
      - name: Update CHEAT config
        if: ${{ env.BRANCH == 'stage' || env.BRANCH == 'prod' || env.BRANCH == 'demo' }}
        uses: 5G-Games/Games-Common-CI/.github/actions/update-cheat-config@master
        with:
          game_id: ${{ inputs.GAME_ID }}
          branch: ${{ env.BRANCH }}
      
      - name: Replace Sentry DSN
        uses: 5G-Games/Games-Common-CI/.github/actions/replace-sentry-dsn@master
        with:
          game_id: ${{ inputs.GAME_ID }}
          branch: ${{ env.BRANCH }}
      
      - name: Build Cocos Mobile
        uses: 5G-Games/Games-Common-CI/.github/actions/build-cocos-mobile@master
        with:
          game_id: ${{ inputs.GAME_ID }}
          cocos_version: ${{ env.COCOS_VERSION }}
      
      - name: Copy packages
        uses: 5G-Games/Games-Common-CI/.github/actions/copy-packages@master
        with:
          game_id: ${{ inputs.GAME_ID }}
      
      - name: Deploy part 1
        uses: 5G-Games/Games-Common-CI/.github/actions/deploy-part1@master
        with:
          game_id: ${{ inputs.GAME_ID }}
          deploy_type: ${{ env.DEPLOY_TYPE }}
          deploy_str: ${{ env.DEPLOY_STR }}
      
      - name: Deploy part 2
        uses: 5G-Games/Games-Common-CI/.github/actions/deploy-part2@master
        with:
          game_id: ${{ inputs.GAME_ID }}
          branch: ${{ env.BRANCH }}
          github_deploy: ${{ secrets.TOKEN }}
      
      - name: Upload S3
        uses: 5G-Games/Games-Common-CI/.github/actions/upload-s3@master
        with:
          game_id: ${{ inputs.GAME_ID }}
          s3_url: ${{ env.S3_URL }}
      
      - name: CDN cache prune
        uses: 5G-Games/Games-Common-CI/.github/actions/cdn-cache-prune@master
        with:
          game_id: ${{ inputs.GAME_ID }}
          branch: ${{ env.BRANCH }}
          cdn_cns_url: ${{ env.CDN_CNS_URL }}
          cdn_aka_url: ${{ env.CDN_AKA_URL }}
          cdn_cfe_url: ${{ env.CDN_CFE_URL }}
          cloud_front_id: ${{ env.CLOUD_FRONT_ID }}
          cloud_flare_api: ${{ secrets.CLOUD_FLARE }}
          domain_zone_id: ${{ env.DOMAIN_ZONE_ID }}
      
      - name: Slack Notification - Complete
        if: ${{ env.SLACK == 'true' }}
        uses: 5G-Games/Games-Common-CI/.github/actions/slack-notification@master
        with:
          webhook_url: ${{ secrets.WEBHOOK_URL }}
          job_status: ${{ job.status }}
          repository: ${{ github.repository }}
          branch: ${{ github.head_ref || github.ref }}
          actor: ${{ github.actor }}
          triggering_actor: ${{ github.triggering_actor || 'N/A' }}
          commit_message: ${{ github.event.head_commit.message || 'N/A' }}
          commit_count: ${{ env.COMMIT_COUNT || 'N/A' }}
          run_url: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          compare_url: ${{ github.event.compare || 'N/A' }}
